<!DOCTYPE html>
<html>
<head>
	<title>igSparkline - Ignite UI Grid integration with AngularJS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.shared.css" rel="stylesheet" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/my-igniteui-angular/samples/sample.css" />
    
	<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet" />
<link type="text/css" href="//cdn-na.infragistics.com/jquery/20132/latest/css/structure/modules/infragistics.ui.shared.css" rel="stylesheet" />

</head>
<body class="container">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Ignite UI AngularJS Directives <span class="badge alert-info">Preview</span></a> 
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/igniteui-angular/index.html">Home</a></li>
                    <li><a href="https://github.com/IgniteUI/igniteui-angular">View on GitHub <i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    
<div ng-app="igniteui-sample" ng-controller="sparklineController">
    <h1 class="push-down-md"><a href="http://igniteui.com/sparkline/overview" target="_blank">igSparkline</a></h1>
    <div class="row description">
        <div class="alert alert-info col-md-5 try-it-out">
            <span class="h4">TRY IT OUT:</span>
            <hr />
            <p>Change the data in the table and see how the igSparkline responds.</p>
        </div>
        <div class="col-md-4">
            <p class="lead">This sample demonstrates how create an igSparkline using an AngularJS directive.</p>
            <p><a href="https://github.com/IgniteUI/igniteui-angular/blob/master/samples/sparkline" class="btn btn-default btn-lg btn-primary" target="_blank"><i class="fa fa-code fa-lg"></i>Explore the Code</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Line</h4>
            <ig-sparkline data-source="invoices" value-member-path="Change" height="100px" width="90%" tooltip-template="Low:${Low}<br>High:${High}" marker-visibility="visible">
	</ig-sparkline>
            <h4>Area</h4>
            <ig-sparkline data-source="invoices" value-member-path="Change" height="100px" width="90%" display-type="area">
	</ig-sparkline>
        </div>
        <div class="col-md-6">
            <h4>Column</h4>
            <ig-sparkline data-source="invoices" value-member-path="Change" height="100px" width="90%" display-type="column">
	</ig-sparkline>
            <h4>Win-Loss</h4>
            <ig-sparkline data-source="invoices" value-member-path="Change" height="100px" width="90%" display-type="winLoss">
	</ig-sparkline>
        </div>
    </div>
    <table id="simpletable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>High</th>
                <th>Low</th>
                <th>Change</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in invoices" ng-if="product.High >1050">
                <td>{{product.High}}</td>
                <td>{{product.Low}}</td>
                <td>
                    <input id="vote" type="number" ng-model="product.Change" class="form-control" /></td>
            </tr>
        </tbody>
    </table>

</div>

	<footer>
        <p>
            <a href="/igniteui-angular/index.html">Home</a> |
            <a href="https://github.com/IgniteUI/igniteui-angular/issues">Feedback &amp; Questions</a> |
            <a href="https://github.com/IgniteUI/igniteui-angular">Clone &amp; Fork</a>
        </p>
        <p class="small">For more information or to download a trial of Ignite UI, please visit: <a href="http://igniteui.com">http://igniteui.com</a></p>
    </footer>

	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    
<script src="http://cdn-na.infragistics.com/jquery/20132/latest/js/infragistics.core.js" type="text/javascript"></script>
<script src="http://cdn-na.infragistics.com/jquery/20132/latest/js/infragistics.lob.js" type="text/javascript"></script>
<script src="http://cdn-na.infragistics.com/jquery/20132/latest/js/infragistics.dv.js" type="text/javascript"></script>
<script src="../../src/igniteui-angular.js"></script>
<script src="controller.js"></script>
<script src="../data/invoices.js"></script>

</body>
</html>